* {
    margin:0px;
}
nav {
    font-size: 0;
}
a {
    background-color: grey;
    font-size: 20px;
}
ul {
    font-size: 0;

}
li {
    display: inline-block;
    font-size: 18px;
}
body {
    margin: 0;
    width: 1200px;
    padding: 0px;
    background-color: #3D3D3D;
}

header {
    width: 1200px;
    height: 20vh;
    background-color: #FFF28C;
    
}



